/*Color*/
:root {
    --orange-color: #F86338;
    --app-color: #F4F7F8;
    --while-color: #FFFFFF;
    --text-color: #11142D;
    --decription-text-color: #515151;
    --title-text-color: #9A9AB0;
    /*Làm mượt*/
    --smooth: all .3s ease-in;
}

*{
    box-sizing: inherit;
    margin: 0;
}

/*CSS cho HTML*/
html {
    font-family: 'DM Sans', sans-serif;
    background-color: var(--app-color);
    box-sizing: border-box;
}

/*Responsive*/
.grid {
    /*Kích thước chiều rộng là 1200px*/
    width: 1200px;
    /*Những item nào nằm trong grid sẽ tự động căn giữa*/
    margin: 0 auto;
}

/*Dòng trong grid
- Có nhiều column
*/
.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.grid__column-2{
    padding: 0 15px;
    width: 16.66666666666667%;
}

.grid__column-10{
    padding: 0 15px;
    width: 83.33333333333333%;
}

.grid__column-6 {
    padding: 0 15px;
    width: 50%;
}

.grid__column-4 {
    padding: 0 15px;
    width: 33.33333333333333%;
}
.grid__column-6-2{
    padding: 0 15px;
    width: 50%;
}

/*Thanh ngăn cách*/
.seperate {
    width: 100%;
    height: 40px;
}

/*Định dạng kiểu button chung*/
.btn {
    font-size: 12px;
    padding: 10px;
    background-color: var(--orange-color);
    border-radius: 8px;
    border: none;
    color: var(--while-color);
    cursor: pointer;
    transition: var(--smooth);
}

.btn:hover {
    opacity: 0.8;
    transition: var(--smooth);
}


/*Footer*/
.footer {
    background-color: var(--while-color);
    padding: calc(116px / 2) 0;
}
.footer-content {
    display: flex;
    height: 360px;
    
    justify-content: space-between;
    align-items: center;

}
.footer-content__brand {
    width: 360px;
    height: 100%;
    background-color: #E2E2EA;
}
.footer-content__title {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100%;
}

.footer-content__title h1{
    color: var(--orange-color);
    font-size: 64px;
    font-weight: 600;
    
}

.footer-content__title p{
    color: var(--text-color);
    font-size: 16px;
    font-weight: 600;
    margin: 20px 0;
}

.footer-content__title p:last-child{
    margin-top: auto;
}
.footer-content__social-media {
    margin-bottom: auto;
}

.footer-content__social-media-item {
    margin-right: 20px;
}

/*Hero*/

.hero {
    background-color: var(--while-color);
    
}

.hero-main {
    display: flex;
    height: 640px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.hero-title {
    color: var(--decription-text-color);
    font-size: 64px;
    font-weight: 600;

}

.hero-content {
    color: (--text-color);
    font-size: 16px;
    font-weight: 400;
    margin: 40px 0;
}


/*Form*/
.form {

}

.form-content {
    background-color: var(--while-color);
    display: flex;
    flex-direction: column;
    height: 400px;
    align-items: center;
    justify-content: center;
}

.form-title {
    font-size: 48px;
    font-weight: 600;
    color: var(--text-color);
}

.form-description {
    margin: 30px 0;
    font-size: 16px;
    font-weight: 400;
    color: var(--decription-text-color);
}

.form-email {
    display: flex;
    background-color: var(--app-color);
    padding: 12px;
    border-radius: 8px;
    width: 70%;
    height: 64px;

}

.form-email__input {
    flex: 1;
    background-color: var(--app-color);
    outline:none;
    border: none;
    font-size: 16px;

}


.form-email__submit {
    height: 40px;
    width: 40px;
}



.form-email__submit-icon {
    font-size: 12px;
}











/*Navbar*/

.navbar{
    height: 180px;
    display: flex;
}

.navbar__brand{
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--while-color);
}

.brand-list{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding-right: 5%;
}


.brand-title{
    width: 70%;
    font-size: 39px;
    line-height: 46.8px;
    color: var(--orange-color);
    padding-left: 5%;
}

.navbar__container {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-categories{
    display: flex;
    width: 30%;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    padding: 0 5%;
}

#container-search {
    height: 50px;
    width: 30%;
    border-radius: 10;
    flex: 1;
}

.container-list{
    display: flex;
    width: 30%;
    list-style: none;
    justify-content: space-around;
    padding: 0 5%;
}
.container-list-item{
    padding: 20px;
}

/*Categories Shop*/
.categories-shop {

}

.categories-shop-main {

}

.categories__title {
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    color: var(--text-color);
}

.categories__list {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.categories-item:hover .categories-item-link{
    color: var(--orange-color);
}

.categories-item--active .categories-item-link{
    color: var(--orange-color);
}

.categories-item-link {
    font-size: 24px;
    text-decoration: none;
    color: var(--title-text-color);
}


.categories-product-list {
    margin: 30px 0;
}

.product-item {

    width: 100%;
    height: 640px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--while-color);
    padding: 10px;
    align-items: start;
    margin: 15px 0;
}

.product-item__img {
    width: 100%;
    height: 400px;

}

.product-item__category {
    margin-top: 10px;
    font-size: 16px;
    color: var(--title-text-color);
}

.product-item__name {
    margin-top: 20px;
    font-size: 48px;
    font-weight: 600;
    color: var(--text-color);
}

.product-item__btn {
    display: flex;
    align-items: center;
    margin-top: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;

}

.product-item__icon {
    font-size: 24px;
}

.categories-find-more {
    display: block;
    margin: 0 auto;
}
